@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* { /*css reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { /*characteristics for all document(for core)*/
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

/*Site salute title*/
.header {
    scroll-snap-align: start;
    background-color: #a2d2ff !important;
    height: 100svh;
    display: grid;
    place-content: center;

    /*for main text*/
    & span {
        box-sizing: content-box;
        text-align: center;
        font-weight: bold;
        font-size: clamp(3rem, 5rem, 7rem);;
        font-family: 'Permanent Marker';
        color: transparent;
        background-image: url("../IMG/textBG2.jpg");
        -webkit-background-clip: text;
        -webkit-text-stroke: 2px #3b0314;
        background-clip: text;
    }

    /*for left cloud*/
    & span::before { /*pseudo-class that creates content BEFORE some existing object*/
        opacity: 0.8;
        position: absolute;
        top: 30px;
        left: -300px;
        content: "";
        background-image: url("../IMG/cloud.png");
        background-size: 280px 150px;
        background-repeat: no-repeat;
        width: 280px;
        height: 150px;
        filter: drop-shadow(0 7px 10px rgba(0, 0, 0, 0.6));
        animation: cloudToRight 2.6s ease-out forwards;
    }

    /*for right cloud*/
    & span::after { /*pseudo-class that creates content AFTER some existing object*/
        opacity: 0.8;
        position: absolute;
        bottom: 30px;
        right: -300px;
        content: "";
        background-image: url("../IMG/cloud.png");
        background-size: 280px 150px;
        background-repeat: no-repeat;
        width: 280px;
        height: 150px;
        filter: drop-shadow(0 7px 10px rgba(0, 0, 0, 0.6));
        animation: cloudToLeft 2.6s ease-out forwards;
    }
}

/*for navigation bar*/
nav {
    top: 0;
    position: sticky;
    background-color: #00213a;
    z-index: 1;

    & ul {
    padding: 1rem;
    font-size: 1.6rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;

        & li a {
            text-decoration: none;
            color: aliceblue;
            font-weight: 800;
            transition: all .4s ease-out;
        }

        & li a:hover {
            color: rgb(200, 171, 226);
        }
    }
}

/*main info part*/
#atractions div {
    box-sizing: content-box;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    &:nth-child(1) { /*chooses the same obj in the container (div)*/
        background: linear-gradient(#89c2d9, #61a5c2);
    }

    &:nth-child(2) {
        background: linear-gradient(#61a5c2, #468faf);
    }

    &:nth-child(3) {
        background: linear-gradient(#468faf, #2c7da0);
    }

    &:nth-child(4) {
        background: linear-gradient(#2c7da0, #2a6f97);
    }

    & > * {
        animation: fade-in linear;
        animation-timeline: view(105vh 0); /*appear on-scroll 1)When finishes 2)when starts*/
    }
}

/*for main sections in atractions div*/
#roll-coast,
#carting,
#bump-boat {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/*for cards that shows atractions*/
.presentation-card {
    height: 75% !important;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    z-index: 0;
}

.image {
    height: 200px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;

    & h2 {
        margin-top: 0;
        font-size: 2rem;
        color: #000000;
    }

    & p {
        margin: 0;
        font-size: 1rem;
        color: #000000;
    }
}

/*for check boxes after every atraction*/
.check-box {
    padding: 20px;
    height: auto !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

    & label {
        filter: drop-shadow(0 0 8px rgba(0, 200, 255, 0.6));
    }

    & input {
        transform: scale(1.5);
    }
}

/* Form styling */
.form-box {
    max-width: 400px;
    height: auto !important;
    padding: 10px;
    background-color: #cce5ff;
    border-radius: 8px;

    & form {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    & label {
        text-align: center;
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 1.2rem;
        font-weight: 500;
    }

    & button {
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        transition: all .4s ease-in-out;
        height: 1.5rem;
        border-radius: 10px;

        &:hover {
            background-color: #0056b3;
            box-shadow: 0 3px 0px 1px rgb(16, 4, 121);
            transform: translateY(-5px);
        }
    }
}

/*Media for Android*/
@media (max-width: 768px) {
    .form-box {
      max-width: 90%;
    }
  }
  
  /*Media for PC*/
  @media (min-width: 769px) {
    :root {
        font-size: 1.6rem;
    }

    .form-box {
      width: 50vw;
    }
  }
  
footer {
    padding: 10px;
    text-align: center;
    line-height: 30px;
    background-color: #00213a;
    text-decoration: none;
    color: aliceblue;
    font-weight: 400;
}

/*for clouds animations*/
@keyframes cloudToRight { /*left cloud*/
    to {
        left: 30px;
    }
}

@keyframes cloudToLeft { /*right cloud*/
    to {
        right: 30px;
    }
}

/*for animation-timeline: view*/
@keyframes fade-in { /*for view() func*/
    from {
        opacity: 0;
        scale: .3;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}